/*Importamos fuente de texto a css*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Roboto:ital@1&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
}

header {
    background-color: #a19e9e;
    display: flex;
    justify-content: space-around;
    align-items: center;
    opacity: .9;
    position: sticky;
    top: 0;
    z-index:1;
}

header img {
    width: 90px;
}

/*Configuración de nombre empresa*/
.titulo-pag {
    color: rgb(51, 55, 58);
    font-weight: bold;
    font-size: 40px;
    
       
}

ul {
    list-style: none;
    display: flex;
    gap: 40px;
}


a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

.menu {
    color: aliceblue;
    font-weight: bold;
}

.banner {
    background-image: url(../img/portada-quienessomos.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    filter: brightness(0.5);
    height: 450px;
    width: 100%;
}

main {
    margin: 30px 0;
}

section { 
    margin: 30px 0;
}

h1 {
    text-align: center;
    margin:30px 0;
    font-size: 35px;
}

h3 {
    text-align: center;
}


p {
    font-weight: bold;
    text-align: center;
    padding-left: 4%;
    padding-right: 4%;
}



/*CONFIGURACIÓN MAPA*/

iframe {
    width: 500px;
    
    
    
}

form {
    width: 300px;
    padding: 16px;
    margin: auto;
}

.contenedor-padre {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 90px;
    margin-left:10%;
    margin-right: 10%;
}



.contenedor {
    color: #434343;
    display: inline-block;
    width: 140%;
    
}


/*CONFIGURACION LABEL DE FORMULARIO*/

.contenedor label {
    width:  80px;
    font-weight: bold;
    display: inline-block;

}

/*CONFIGURACION INPUT DE FORMULARIO*/

.contenedor input {
    width: 300px;
    height: 28px;
    margin-bottom: 15px;

}

.contenedor textarea {
    width: 300px;
    height: 200px;
}

/*CONFIGURACION BOTÓN DE FORMULARIO*/

.boton-enviar {
    background-color: blueviolet;
    border: none;
    width: 55%;
    height: 35px;
    color: aliceblue;
    font-weight: bold;
    margin-top: 5%;
    border-radius: 5%;
    
    
    
}

/*CONFIGURACION PIE DE PÁGINA*/

footer img {
    width: 30px;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5% auto;
}

.contacto {
    color: #000000;
    display: flex;
    gap: 20px;
}

.padre-redes img{
    width: 25px;
}