h1, h2, h3, h4 {
    @include titulos;
}

.banner-actividades {
    background-image: url(../img/portada-actividades.jpg); /*Imagen de portada*/
    @include banner-conf;
}

@media (max-width:$tablet) {
    .banner-actividades{
        @include banner-medida;
    }
}

main {
    @include menu;
    width: 70%;
    top: 15%;
    left: 15%
}

/*Menu de busqueda prinicipal*/
/*fondo menu busqueda*/
.card-portada-a {
    width: 200%;
    padding: 25px 40px;
    @include card-portada;
    align-items: center;
    
}

@media (max-width:$tablet) {
    .card-portada-a {
        @include card-portada-chico;
    }
}

/*Label menu busqueda*/
.card-portada-a-filtro label {
    @include card-portada-label;
}

@media (max-width:$tablet) {
    .card-portada-a-filtro label{
        @include card-portada-label-chico;
        
    }
}

/*Input de menu busqueda*/
.card-portada-a input {
    @include card-portada-input;
    display: flex;
    margin: auto auto;
}

.boton-buscar {
    @include boton-buscar-principal;
    transition: all 0.3s ease;
    &:hover {
        background-color: $color-primario;
        color: $color-secundario;
    }
}

@media (max-width:$tablet) {
    .boton-buscar{
        @include boton-buscar-principal-chico;
        transition: all 0.3s ease;
        &:hover {
            background-color: $color-primario;
            color: $color-secundario;
        }
    }
}

/*Configuracion contenedor destinos mas elegidos chile*/

.contenedor-padre {
    @include contenedor-padres;
    gap: 20px;
    
}

@media (min-width: $tablet) {
    .contenedor-padre {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        align-items: center;
    }
}

.contenedor-actividades {
    width: 280px;
    color: $color-primario;
    display: flex;
    flex-direction: column;
    gap: 0px;
}

.contenedor-actividades h3 {
    color: $color-secundario;
    font-weight: bold;
    position: absolute;
    margin-top: 225px;
    margin-left: 20px;
    
}

.contenedor-actividades p {
    color: $color-secundario;
    position: absolute;
    margin-top: 255px;
    margin-left: 0px;
}

.contenedor-actividades img {
    @include contenedor-opciones-imagen;
}

/*Configuracion seccion actividades sudamerica*/

.contenedor-padre-opciones {
    @include contenedor-padre-opciones;
    gap: 50px;
}

.contenedor-opa {
    @include contenedor-opciones-detalle;
}

.contenedor-opa img {
    @include contenedor-opciones-imagen;
}

.contenedor-opa h3 {
    color: $color-secundario;
    font-weight: bold;
    position: absolute;
    margin-top: 225px;
    margin-left: 20px;
    
}

.contenedor-opa p {
    color: $color-secundario;
    position: absolute;
    margin-top: 250px;
    margin-left: 20px;
}

.boton-actividades-otros-destinos button{
    background-color: $color-terciario;
    border: none;
    width: 250px;
    height: 45px;
    color: aliceblue;
    font-weight: bold;
    font-size: 16px;
    border-radius: 5px;
    margin-top: 20px;
    margin-left: 38%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: all 0.3s ease;

    &:hover {
        background-color: $color-secundario;
        color: $color-terciario;
        border: 2px solid $color-terciario;
    }
    
}

.suscribete-actividades {
    @include suscribete;
}

@media (max-width:$tablet) {
    .suscribete-actividades {
        @include suscribete-chico;
    }
}

#suscribete-actividades {
    width: 630px;
    height: 9px;
    margin: 0 60px;
    padding: 20px 0;
}



@media (max-width:800px) {
    #suscribete-actividades {
        width: 330px;
        height: 3px;
        margin: 0 60px;
        padding: 20px 0;
    }
}
