h1, h2, h3, h4 {
    @include titulos;
}

.banner-paquetes {
    background-image: url(../img/portada-paquete.jpg); /*Imagen de portada*/
    @include banner-conf;
}

@media (max-width:$tablet) {
    .banner-paquetes{
        @include banner-medida;
    }
}

main {
    @include menu;
    width: 70%;
    top: 15%;
    left: 15%
}

/*Menu de busqueda prinicipal*/
/*fondo menu busqueda*/

.card-portada-p {
    width: 300%;
    padding: 30px 40px;
    @include card-portada;
}

@media (max-width:$tablet) {
    .card-portada-p {
        @include card-portada-chico;
    }
}

/*Label menu busqueda*/
.card-portada-p-filtro label {
    @include card-portada-label;
}

@media (max-width:$tablet) {
    .card-portada-p-filtro label{
        @include card-portada-label-chico;
        
    }
}

/*Input de menu busqueda*/
.card-portada-p input {
    @include card-portada-input;
}

.boton-buscar {
    @include boton-buscar-principal;
    transition: all 0.3s ease;
    &:hover {
        background-color: $color-primario;
        color: $color-secundario;
    }
}

@media (max-width:$tablet) {
    .boton-buscar{
        @include boton-buscar-principal-chico;
        transition: all 0.3s ease;
        &:hover {
            background-color: $color-primario;
            color: $color-secundario;
        }
        
    }
}

/*Configuracion contenedor*/

.contenedor-padre {
    @include contenedor-padres;
    justify-content: center;
    gap: 30px;
    margin: 10px 20px;
}

.contenedor {
    @include contenedor-detalle;
}

.contenedor-opciones {
    @include contenedor-padre-opciones;
    gap: 50px;
}

.opciones {
    background-color: $color-secundario;
    @include contenedor-opciones-detalle;
}

.opciones img {
    @include contenedor-opciones-imagen;
}

.opciones h3 {
    position: absolute;
    margin-left: 15px;
    color: $color-primario;
    font-weight: bold;
}

.suscribete-paquetes {
    @include suscribete;
}

@media (max-width:$tablet) {
    .suscribete-paquetes {
        @include suscribete-chico;
    }
}

#suscribete-paquetes {
    width: 630px;
    height: 9px;
    margin: 0 60px;
    padding: 20px 0;
}



@media (max-width:800px) {
    #suscribete-paquetes {
        width: 330px;
        height: 3px;
        margin: 0 60px;
        padding: 20px 0;
    }
}

