h1, h2, h3, h4 {
    @include titulos;
}

.banner-somos {
    background-image: url(../img/portada-quienessomos.jpeg); /*Imagen de portada*/
    @include banner-conf;
}

@media (max-width:$tablet) {
    .banner-somos{
        @include banner-medida;
    }
}

main {
    margin: 70px 0;
}

p {
    font-weight: bold;
    text-align: center;
    padding-left: 4%;
    padding-right: 4%;
}

/*Configuracion mapa*/
iframe {
    width: 500px;
}

@media (max-width:$tablet) {
    iframe{
        width: 100%;
        
    }
}

/*Configuracion formulario contactanos*/
form {
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 16px;
    margin: auto;
}

.contenedor-padre {
    @include contenedor-padres;
    justify-content: space-between;
    gap: 90px;
    margin-left: 10%;
    margin-right: 10%;
}

.contenedor-somos {
    color: $color-primario;
    display: inline-block;
    width: 140%;
}

/*CONFIGURACION LABEL DE FORMULARIO*/
.contenedor-somos label {
    width:  80px;
    font-weight: bold;
    display: inline-block;

}

/*CONFIGURACION INPUT DE FORMULARIO*/

.contenedor-somos input {
    width: 300px;
    height: 28px;
    margin-bottom: 15px;

}

.contenedor-somos textarea {
    width: 300px;
    height: 200px;
}

/*CONFIGURACION BOTÓN DE FORMULARIO*/

.boton-enviar {
    background-color: blueviolet;
    border: none;
    width: 55%;
    height: 35px;
    color: aliceblue;
    font-weight: bold;
    margin-top: 5%;
    border-radius: 5%;

    &:hover {
        background-color: $color-primario;
        color: $color-secundario;
    }
    
    
    
}


